* {
  margin: 0;
  padding: 0;
}

.home {
  border: 1px solid MidnightBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img {
  width: 45vw;
  height: auto;
}

