* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../dist/img/pexels-ella-olsson-1640770.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  margin-top: 35px;
  flex-direction: column;
}

#content {
  height: max-content;
  flex-direction: column;
}

// Header

.rest-name {
  margin-top: 20px;
  text-align: center;
}

// nav-bar

nav {
  margin-top: 15px;
}

.button-nav {
  margin-inline: 10px;
  padding: 5px;
  background-color: #fef5e4;
  border-radius: 5px;
  border: none;
}

.home-card {
  width: 45vw;
  height: 19rem;
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../dist/img/beetroo.jpg);
  border-radius: 5px;
}

.h2-margin {
  margin: 25px 0 0 25px;
  font-size: 1.9em;
}

.mainP {
  margin: 60px 60px 0 25px;
  font-size: 1.5em;
}

.text-color {
  color: #eee4d3; 
}

// footer

footer {
  width: 100vw;
  flex-direction: column;
  position: absolute;
  bottom: 0;

  p {
    margin-bottom: 15px;
    font-size: 1.5em;

    i {
      margin: 0 5px;
    }
  }
}